@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic);


html { font-family: 'Roboto',sans-serif; }
body {
	background-color: white;
	color: #444;
	margin: 0;
	padding: 0;
}

a, .link { 
	color: blue;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	color: #33F;
}
.sectionOuter1 {
	/*margin: 20px;*/
	padding: 20px;
}
.section {
	/*background: white;*/
	/*padding: 20px;*/
}
div.tableContainer {
	width: 100%;
    overflow: auto;
    /*background: rgba(0,0,0,0.07);*/
}

div.tableContainer table { border-collapse: collapse }
div.tableContainer table td { margin:0; padding: 5px 10px; }
div.tableContainer table th { text-align: left; padding: 5px 10px; }
div.tableContainer table tr:nth-child(odd) { background: rgba(0,0,0,0.05); }


#topBar {
	background-color: #444;
	color: #ccc;
	width: 100%;
	position: fixed;
	/*padding: 10px;*/
	box-sizing: border-box;
	position: fixed;
	height: 40px;
	z-index: 1000;
	display: table;
	table-layout: fixed;
}
#topBar a {
	color: white;
}

#topBar .leftPane, #topBar .midPane, #topBar .rightPane {
	display: table-cell;
	vertical-align: top;
}
.leftPane {
	width: 300px;
}
.midPane {
	/*min-width: 700px;
	max-width: 1000px;*/
}
.rightPane {
	width: 300px;
}
#topBar .rightPane {
	text-align: right;
}




#sidebarContent {
    /*max-width: 270px;*/
}

#content {
    display: table;
    padding-top: 40px;
    width: 100%;
    box-sizing: border-box;
}

#leftContent {
	position: fixed;
	left: 0;
	top: 40px;
	width: 300px;
	background: hsl(40,20%,90%);
    box-shadow: inset -5px 0px 17px -7px rgba(0,0,0,0.5);
    height: calc(100vh - 40px - 107px);
    overflow: auto;
}
#sidebarContent {
	position: fixed;
	right: 0;
	top: 40px;
	width: 300px;
	background: hsl(40,20%,90%);
    box-shadow: inset 5px 0px 17px -7px rgba(0,0,0,0.5);
    height: calc(100vh - 40px);
    overflow: auto;
}
#mainContent {
	width: calc(100% - 600px);
    margin: auto;
    min-height: calc(100vh - 40px);
}


#badge {
	width: 300px;
}


#menu {
	white-space: nowrap;
	/*overflow: hidden;*/
}
#menu ul {
    display: block;
    margin: 0;
    padding: 0;
}
#menu li {
	cursor: pointer;
    display: inline-block;
    list-style: none;
    position: relative;
    /*padding: 10px;*/
}
#menu > ul > li {
    vertical-align: top;
}
#menu ul ul li {
    box-sizing: border-box;
    width: 100%;
    display: block;
}
#menu > ul > li ul {
    display: none;
    position: absolute;
    background: #444;
    /* left: 0; */
}
#menu > ul > li > a > ul {
	left: 0;
	top: 100%;
}
#menu > ul > li > ul {
	left: 0;
	top: 100%;
}
#menu li:hover > ul {
    display: block;
}
#menu ul ul ul {
    left: 100%;
    top: 0;
}
#menu li:hover {
    background: #555;
}
#menu a {
	color: white;
	display: inline-block;
	width: 100%;
}
#menu ul li a {
    text-decoration: none;
    white-space: nowrap;
    padding: 11px 10px;
    display: inline-block;
}
#menu ul ul li a {
	padding: 5px 10px;
	display: block;
}
span.arrow {
    display: inline-block;
    border: 1px solid #888;
    width: 6px;
    height: 6px;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
    margin-left: 10px;
    position: relative;
    top: -2px;
}
#menu > ul > li > a > span.arrow {
    display: none;
}

#content h1 {
	text-transform: capitalize;
}


/**** IMAGES ****/
.wikiImage, .noImage {
	display: inline-block;
	cursor: pointer;	
	-webkit-transition: box-shadow 0.3s;	
	position: relative;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: -6px;
}
.wikiImage img {
	width: 100%;
}
.wikiImage.center {
	display: block;
	text-align: center;
}
.wikiImage.center img {
	width: auto;
}
.wikiImage {
}
.wikiImage_caption {
	/*display: none;*/
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 75%;
	background: rgba(0,0,0,0.75);
	color: white;
	overflow: auto;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	opacity: 0;
	-webkit-transition: top 0.2s, opacity 0.2s;
}
.wikiImage:hover .wikiImage_caption {
	opacity: 1;
	/*-webkit-animation: fadeIn 0.3s ease-out;*/
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; top: 100%; }
	100% { opacity: 1; top: 60%; }
}
/**** END IMAGES ****/

.menuIcon {
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: 0 10px;
	margin: 0;
	margin-left: -4px;
    font-size: 20px;
    line-height: 40px;
}
.menuIcon:hover {
	background: #555;
}
.menuIcon_search:hover .search {
	display: block;
}
.search {
	display: none;
	position: absolute;
	top: 40px;
	left: 0px;
	padding: 10px;
	background: #555;
}
.search input {
	font-size: 0.7em;
	margin: 0;
	padding: 5px;
}






.grid2, .grid3 {
	box-sizing: border-box;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
.grid2:last-child, .grid3:last-child { margin-right: 0; }
.grid2 { width: calc(50% - 7px); margin-right: 10px; }
.grid3 { width: calc(33.33% - 9px); }




#toc {
	width: 300px;
}
#toc h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 10px 0;
    color: #999;
}
#toc ul {
    margin: 0;
    padding: 0;
}

#toc li {
	list-style: none;
}
#toc li a {
    display: block;
    margin: 0;
    padding: 5px 20px;
}
#toc li a:hover {
    background: rgba(0,0,0,0.1);
}
#toc li a {
    color: #444;
    font-weight: 500;
}

#toc li li {
    padding-left: 20px;
}
#toc li li a {
    font-weight: 400;
}



#admin {
	position: fixed;
	bottom: 0;
	width: 300px;
	left: 0;
	padding: 10px 0;
	background: rgba(0,0,0,0.4);
}

#admin a {
	display: block;
	padding: 5px 20px;
	color: white;
}
#admin a:hover {
	background: rgba(0,0,0,0.1);
}



.right {
  float: right;
  margin-left: 20px;
  max-width: 40%;
}

#mainContent .sidebarSection {
	display: none;
}
@media (min-width:376px) and (max-width:1337px) {
	#sidebarContent {
		display: none;
	}
	#mainContent .sidebarSection {
		display: block;
	}
	#mainContent {
		width: calc(100vw - 317px);
		margin: 0 0 0 300px;
	}	
}


#mainContent_view, #mainContent_edit, #mainContent_revisions {
	display: none;
}

body[mode="view"] #mainContent_view { display: block; }
body[mode="edit"] #mainContent_edit { display: block; }
body[mode="edit"] #sidebarContent > * { display: none; }
body[mode="revisions"] #mainContent_revisions { display: block; }


#mainContent_edit {
	background-color: hsl(0,100%,15%);
	position: relative;
}
#mainContent_edit .title {
	color: white;
	height: 31px;
}
#mainContent_edit textarea {
	height: calc(100vh - 40px - 31px);
	width: 100%;

	background-color: rgba(0,0,0,0.2);
    border: none;
    box-shadow: inset 0 0 15px -2px black;
    box-sizing: border-box;
    color: #92938f;
    font-family: Anonymous Pro, monospace;
    font-size: 16px;
    margin: 0;
    padding: 15px;
}
.editButtons {
	position: absolute;
	top: 0;
	right: 0;
}


#mainContent_revisions {
	background-color: hsl(120,100%,15%);
	min-height: calc(100vh - 40px);
	position: relative;
}
#mainContent_revisions .title {
	color: white;
	height: 31px;
}
#revisionHistory {
	color: white;
}


.button {
	display: inline-block;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
}
.button:hover {
	background-color: rgba(0,0,0,0.25);
}


.menuButton { display: none; }

@media (max-device-width:375px) {
	.menuButton { display: inline-block; }
	#content{
		display: block;
		padding-top: 60px;
	}
	#leftContent {
		left: -100%;
		transition: left 0.3s;
		z-index: 900;
		width: 100%;
		height: calc(100vh - 60px);
		top: 60px;
	}
	#leftContent[state="open"] {
		left: 0;
	}
	#mainContent {
		width: 100%;
		margin: 0;
		/* padding-top: 45px; */
	}
	#sidebarContent {
		display: none;
	}
	#admin {
		display: none;
	}
	#topBar .midPane, #topBar .rightPane {
		display: none;
	}
	#topBar {
		z-index: 1100;
		right: 20px;
		width: 50px;
	}
	#topBar .menuIcon_home {
		display: none;
	}
	#topBar .menuIcon_search {
		font-size: 40px;
		line-height: 60px;
	}
	/*#topBar {
		width: 100%;
		height: 60px;
	}
	#topBar .menuIcon {
		font-size: 40px;
		line-height: 60px;
	}
	#topBar .midPane {
		text-align: center;
	}
	#topBar .menuContent {
		display: none;
	}
	#topBar .leftPane {
		width: auto;
	}
	#topBar .rightPane {
		width: auto;
		
	}*/
	.search {
		left: auto;
	    right: 0;
	    top: 60px;
	    width: 100%;
	    position: fixed;
	    padding: 0;
	}
	.search input {
		width: calc(100% - 20px);    
	    margin: 0 10px 10px 8px;
    	padding: 0px;
	}
	.right {
		float: none !important;
		margin-left: 0 !important;
		max-width: 100% !important;
	}

	#phoneMenu {
		display: block !important;
		position: fixed;
		top: 0px;
		left: 0;
		width: 100%;
		// height: calc(100vh - 60px);
		height: 60px;
		overflow: hidden;
		background-color: #444;
		color: white;
		z-index: 1000;

		transition: height 0.3s;
	}
	#phoneMenu[active=true] {
		height: 100vh;
	}
	#phoneMenuOpener {
		font-size: 40px;
		line-height: 60px;
		margin-left: 20px;
	}
	.menuItem {
		border-bottom: 1px solid #AAA;
		font-size: 20px;
		line-height: 20px;
		margin: 20px;
		padding-bottom: 20px;
	}
	.menuItem a {
		color: white;
	}
	#admin {
		display: none;
	}
	body[article-name="_menu"] #mainContent_view ul {
		padding-left: 0px;
	}
	body[article-name="_menu"] #mainContent_view li {
		list-style: none;
	}
	body[article-name="_menu"] #mainContent_view li {
		padding-left: 0px;
	}
	body[article-name="_menu"] #mainContent_view li a {
		padding-left: 20px;
		display: block;
		border-bottom: 1px solid #444;
		margin-top: 20px;
		padding-bottom: 20px;
	}
	body[article-name="_menu"] #mainContent_view li li a {
		padding-left: 40px;
		font-size: 18px;
		color: #444;
	}
	body[article-name="_menu"] #mainContent_view li li li a {
		padding-left: 60px;
		font-size: 16px;
		color: #777;
	}
	body[article-name="_menu"] #mainContent_view li > .expando {
		position: absolute;
		right: 20px;
		font-size: 20px;
	}
}

#phoneMenu { display: none; }

#mainContent_view li[collapse-state="closed"] > ul {
	// overflow: hidden;
	// height: 0;
	// transition: height 0.3s;
	display: none;
}
#mainContent_view li .expando {
	z-index: 1500;
}