<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/main.css">
	<style>
	{{styleCss}}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="/static/stickyfill.js"></script>
</head>

<body>

	<div id="menu">
		{{menuHtml}}
		<div class="menuIcons">
			<div class="menuIcon menuIcon_search">
				<i class="fa fa-search"></i>
				<div class="search">
					<form action="/search">
						<input name="q">
						<input type="hidden" name="db" value="{{db}}">
					</form>
				</div>
			</div>
			<div class="menuIcon"><a href="/"><i class="fa fa-home"></i></a></div>
		</div>
	</div>

	<div id="content">
		<div id="mainContent">{{content}}</div>
		<div id="sidebarContent">{{sidebarHtml}}</div>
	</div>

	<script>
	var stickyElements = document.querySelectorAll('#content .sectionOuter h1');

	for (var i = stickyElements.length - 1; i >= 0; i--) {
	    Stickyfill.add(stickyElements[i]);
	}
	</script>

</body>
</html>